
<div class="{{ section.settings.customClass }}">

</div>




<!-- Add this object to settings[] Schema -->
   {
      "type": "text",
      "id": "customClass",
      "default": "banner__custom--page-width",
      "label": "Custom | Css class",
      "info": "To Add custom class to change the current layout styles"
    }
